<!DOCTYPE html>
<html>
    <head>
    <script src="../static/slide.js"></script>
    <link rel="stylesheet" href="../static/slide.css"/>
    <style>
     
    </style>
    </head>
        <body>
          <div id="top">
          <nav class="menu menu-1">
            <ul>
              <li><a href="#top">Home</a></li>
              <li><a href="#middle">About</a></li>
              <li><a href="#below">Contact</a></li>
              <li><a href="../login/">Login</a></li>
              <li><a href="../admin/">Admin</a></li>
            </ul>
          </nav>
          
<section>

  <div class="container" >
    <svg viewBox="0 0 960 300">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="50%">Facify</text>
        
      </symbol>
  
      <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
  </div>
</div>

  </section>
  <div id="middle">
  <section>
    <div class="container reveal">
      <h2>ABOUT</h2>
      <div class="text-container">
        <div class="text-box">
          <h3 style="color:chartreuse"><center> *</center></h3>
          <p style="color:antiquewhite">
            The proposed project is Template for Biometric Authentication Landing Page.<br><br>
            It implements Face ID authentication in a Django web application using the Face Recognition Library.
            
          </p>
        </div>
        <div class="text-box">
          <h3 style="color:chartreuse"><center> *</center></h3>
          <p style="color:antiquewhite">
            First the registered user has to take a photo using webcam provided at the login page.<br><br>
            Once the clicked photo is encoded it is compared with the already saved photo.
          </p>
        </div>
        <div class="text-box">
          <h3 style="color:chartreuse"><center> *</center></h3>
          <p style="color:antiquewhite">
            If it matches then the user is logged in or else the user is denied access.<br><br>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
  <section>
    <div class="container reveal" id="below">
      <h2 style="color:#7F9183;">CONTACT<BR></h2>
      <div class="text-container">
        <div class="text-box">
          <h3 style="color:chartreuse"><center> *</center></h3>
          <p>
            <u style="color:orange">Anusha R</u>
            <br><br>
            <u style="color:orange">Disha M Hulkund</u>
            <br><br>
            <u style="color:orange">Gayathri K R</u>
            <br><br>
            <u style="color:orange">Harshitha Atrey</u>
            <br><br>
          </p>
        </div>
        <div class="text-box">
          <h3 style="color:chartreuse"><center> *</center></h3>
          <p>
           <a href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=DmwnWsdMVxHkKNVTMDLqQnCtwqllQDZfxDvMzvgCjJLqpHnzTLNNFGgMTJhLqqGXGcDvxpWZbhGG"> anushagowda0503@gmail.com </a>
            <br><br>
            <a href="">dishamahantesh@gmail.com</a>
            <br><br>
            <a href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=DmwnWsdMVxHkKNVTMDLqQnCtwqllQDZfxDvMzvgCjJLqpHnzTLNNFGgMTJhLqqGXGcDvxpWZbhGG">gayathrikurandwad@gmail.com</a>
            <br><br>
            <a href="https://mail.google.com/mail/u/0/?pli=1#inbox?compose=DmwnWsdMVxHkKNVTMDLqQnCtwqllQDZfxDvMzvgCjJLqpHnzTLNNFGgMTJhLqqGXGcDvxpWZbhGG">harshitha.atrey@gmail.com</a>
          </p>
        </div>
       
      </div>
    </div>
  </section>
  
  
  
</body>
</html>